
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');


* {
	box-sizing: border-box;
}

body {
	background: #01001d;
	background-image: radial-gradient(#0eabb66b 7%, transparent 0);
	background-size: 30px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Syne Mono', monospace;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #666768;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
	font-family: 'Syne Mono', monospace;
}

button {
	border-radius: 20px;
	border: 1px solid #10737d;
	background-color: #8b6ef775;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Syne Mono', monospace;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
	transform: scale(0.97);
}

button:focus {
	outline: none;

}

button.invisible {
	background-color: transparent;
	border-color: #ffffff;
}

input {
	background-color: #fcebf9;
  	color: #10737d;
	border: solid 1px;
  	border-radius : 20px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	font-family: 'Syne Mono', monospace;
}
input:active{
	transform: scale(0.99);
	
}
input:focus{
	outline: none;
	border-radius: 20px;
	border: 3px solid #10737d;
}

.container {
	border-radius: 100px 2px;
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

form {
	background-color: #e8e6ff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.form {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 1.2s ease-in-out;
}

.register {
	left: 0;
	width: 50%;
	z-index: 2;

}

.connect {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;

}

.container.right-frame .register {
	transform: translateX(100%);
  background: linear-gradient(to right, #0c027a, #36027a);

}

.container.right-frame .connect {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: positionZ 1.6s;  /*see @keyframes*/
}

@keyframes positionZ {
	0%, 50% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.sliding-frame {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 1.2s ease-in-out;
	z-index: 100;

}

.sliding {
	background: transparent;
  background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  transform: translateX(0);
	transition: transform 1.2s ease-in-out;
}

.container.right-frame .sliding-frame{
	transform: translateX(-100%);
}

.container.right-frame .sliding {
  transform: translateX(50%);
}

.sliding-frame-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 1.2s ease-in-out;
}

.left { /*sliding-frame-panel*/
	transform: translateX(-20%);
  background: linear-gradient(to right, #03b3ad, #36027a);
}

.right { /*sliding-frame-panel*/
	right: 0;
	transform: translateX(0);
  background: linear-gradient(to right, #36027a,#7a0266 );
}

.container.right-frame .left {
	transform: translateX(0);
}

.container.right-frame .right {
	transform: translateX(50%);
}


